# Basic Assessment of U.S. Financial Health Through Analysis of Commodities and Financial Assets From 1999 to 2019 

A project provided by Codecademy. Data provided by Codecademy, the St. Louis Federal Reserve, and the World Bank.

Robert Hall

01/18/2025

### Loading Provided Datasets

In [1]:
import pandas as pd
gold_prices = pd.read_csv("gold_prices.csv")
crude_prices = pd.read_csv("crude_prices.csv")

In [5]:
gold_prices.head()

         Date  Gold_Price
0  2019-08-30     1528.40
1  2019-08-29     1540.20
2  2019-08-28     1537.15
3  2019-08-27     1532.95
4  2019-08-26     1503.80

In [6]:
crude_prices.head()

           Date  Crude_Oil_Price
0  Sep 11, 2018            69.25
1  Sep 10, 2018            67.54
2  Sep 07, 2018            67.75
3  Sep 06, 2018            67.77
4  Sep 05, 2018            68.72

### Get NASDAQ 100, S&P 500 Data from FRED API

In [4]:
# import modules
import pandas_datareader.data as web
from datetime import datetime

# define start and end date parameters
start_date = datetime(1999, 1, 1)       # January 1, 1999
end_date = datetime(2019, 1, 1)         # January 1, 2019

# get nasdaq 100 historical price data from Fred
nasdaq_prices = web.DataReader('NASDAQ100', 'fred', start_date, end_date)

# get S&P 500 historical price data from Fred
sp_prices = web.DataReader('SP500', 'fred', start_date, end_date)

In [7]:
nasdaq_prices.head()

            NASDAQ100
DATE
1999-01-01        NaN
1999-01-04    1854.39
1999-01-05    1903.00
1999-01-06    1963.95
1999-01-07    1966.35

In [8]:
sp_prices.head()

              SP500
DATE
2015-01-20  2022.55
2015-01-21  2032.12
2015-01-22  2063.15
2015-01-23  2051.82
2015-01-26  2057.09

### Load U.S. GDP Data from The World Bank API

In [ ]:
# import world bank api
import pandas_datareader.wb as wb

# define parameters
data_indicator = 'NY.GDP.MKTP.CD'
countries = ['US']

# to ignore FutureWarning temporarily
import warnings
warnings.filterwarnings('ignore')

# extract world bank U.S. GDP data
us_gdp = wb.download(indicator=data_indicator, 
                     country=countries,
                     start=start_date,
                     end=end_date)

us_gdp.head()

                    NY.GDP.MKTP.CD
country       year
United States 2019  21539982000000
              2018  20656516000000
              2017  19612102000000
              2016  18804913000000
              2015  18295019000000

### Load U.S. Exports Data from The World Bank API

In [29]:
# extract world bank U.S. exports data
exports_indicator = 'NE.EXP.GNFS.CN'
us_exports = wb.download(indicator=exports_indicator,
                         country=countries,
                         start=start_date,
                         end=end_date)

us_exports.head()

                    NE.EXP.GNFS.CN
country       year
United States 2019   2539391000000
              2018   2538089000000
              2017   2388260000000
              2016   2235558000000
              2015   2270622000000

### Define Log Return Function to Analyze Returns

In [25]:
import numpy as np
def log_return(prices):
    '''
    prices:         input list/array of commodities or financial assets historical prices
    log_returns:    output list/array of natural-log returns of the prices input
    '''
    log_returns = np.log(prices / prices.shift(1))
    return log_returns

### Get the Log Returns of the Given Commodities Prices

In [26]:
# gold log returns
gold_log_returns = log_return(gold_prices['Gold_Price'])

# crude log returns
crude_log_returns = log_return(crude_prices['Crude_Oil_Price'])

### Get the Log Returns of the NASDAQ 100 and S&P 500 Historical Prices

In [27]:
# nasdaq 100 log returns
nasdaq_log_returns = log_return(nasdaq_prices['NASDAQ100'])

# S&P 500 log returns
sp_log_returns = log_return(sp_prices['SP500'])

In [32]:
# exports returns
exports_log_returns = log_return(us_exports['NE.EXP.GNFS.CN'])

# gdp log returns
gdp_log_returns = log_return(us_gdp['NY.GDP.MKTP.CD'])

### Calculate Volatility of Log Returns of the Commodities and Assets for Comparison

In [34]:
print(f"Gold Volatility 1999-2019:          {gold_log_returns.var()}")
print(f"Crude Volatility 1999-2019:         {crude_log_returns.var()}")
print(f"NASDAQ 100 Volatility 1999-2019:    {nasdaq_log_returns.var()}")
print(f"S&P 500 Volatility 1999-2019:       {sp_log_returns.var()}")
print(f"Exports Volatility 1999-2019:       {exports_log_returns.var()}")
print(f"U.S. GDP Volatility 1999-2019:      {gdp_log_returns.var()}")

Gold Volatility 1999-2019:          0.00011375928671558533
Crude Volatility 1999-2019:         0.0005563207795629893
NASDAQ 100 Volatility 1999-2019:    0.00031783802238319065
S&P 500 Volatility 1999-2019:       7.150730130974768e-05
Exports Volatility 1999-2019:       0.0062084895447514065
U.S. GDP Volatility 1999-2019:      0.000346431743041816

### Final Analysis

* Gold, a famously stable asset, holds low volatility, as does the S&P 500 which covers a diverse share of the market. 

* The Nasdaq 100 covers a fifth as many companies as the S&P 500 and therefore has higher volatility.

* U.S. GDP volatility is somewhat high as well, and links closely to the NASDAQ, likely due to the internet boom and the '08-'09 financial crisis, perhaps among other events.

* Exports have by far the highest volatility metric, likely due to the amount of manufacturing offshoring from the U.S. to China and Mexico that took place within this time period.